# Pyber, A Ride-Sharing Company,  Data Analysis & Visualization
## With Python and Matplotlib

In [1]:
# Import Dependencies

%matplotlib notebook
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [3]:
# Load files and perform inital data analysis to become familiar with the datasets provided

# File to Load (Remember to change these)
city_data_to_load = "./data/city_data.csv"
ride_data_to_load = "./data/ride_data.csv"

# Read the City and Ride Data

# potentially use city_data column for size bubble size reference
city_data = pd.read_csv(city_data_to_load)
ride_data = pd.read_csv(ride_data_to_load)

# Combine the data into a single dataset
cr_data = pd.merge(ride_data, city_data, on='city')

# Display the data table for preview
#cr_data

In [4]:
city_data.head()

           city  driver_count   type
0   Richardfort            38  Urban
1  Williamsstad            59  Urban
2   Port Angela            67  Urban
3    Rodneyfort            34  Urban
4   West Robert            39  Urban